.map {
    width: 100vw;
    height: 85vh;
}

.mapboxgl-ctrl-logo {
    display: none !important;
}

.mapboxgl-ctrl-attrib-inner{
    display: none !important;
}

.mapboxgl-ctrl-attrib{
    display: none !important;
}