.map {
    width: 100%;
    min-height: 100vh;
  /* mobile viewport bug fix */
    /*min-height: fill-available;*/
    border-radius: 0px;
}

.mapboxgl-ctrl-logo {
    display: none !important;
}

.mapboxgl-ctrl-attrib-inner{
    display: none !important;
}

.mapboxgl-ctrl-attrib{
    display: none !important;
}

.mapboxgl-popup-close-button{
    display: none !important;
}

.mapboxgl-ctrl-icon{
    display: none !important;
}
.mapboxgl-ctrl-geolocate{
    display: none !important;
}

#routeSwipeableDrawerDiv{
    width: 40vw;
    max-width: 40vw;
    min-width: 200px;
    margin: 5px 5px 5px 5px;
}

@media only screen and (max-width: 1500px) {
    #routeSwipeableDrawerDiv {
      width:42vw;
      max-width: 42vw;
    }
}
@media only screen and (max-width: 1200px) {
    #routeSwipeableDrawerDiv {
      width:48vw;
      max-width: 48vw;
    }
}
@media only screen and (max-width: 1000px) {
    #routeSwipeableDrawerDiv {
      width:56vw;
      max-width: 56vw;
    }
}
@media only screen and (max-width: 800px) {
    #routeSwipeableDrawerDiv {
      width:70vw;
      max-width: 70vw;
    }
}
@media only screen and (max-width: 600px) {
    #routeSwipeableDrawerDiv {
      width:80vw;
      max-width: 80vw;
    }
}