.map {
    width: 100%;
    min-height: 100vh;
  /* mobile viewport bug fix */
    /*min-height: fill-available;*/
    border-radius: 0px;
}

.mapboxgl-ctrl-logo {
    display: none !important;
}

.mapboxgl-ctrl-attrib-inner{
    display: none !important;
}

.mapboxgl-ctrl-attrib{
    display: none !important;
}

.mapboxgl-popup-close-button{
    display: none !important;
}

.mapboxgl-ctrl-icon{
    display: none !important;
}
.mapboxgl-ctrl-geolocate{
    display: none !important;
}