Header {
    padding-top: 3px;
    padding-bottom: 3px;
}

#headText{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}