#searchPaper{
    margin-top: 16px;
    width: 39vw;
    opacity: 0.9;
  }


@media only screen and (max-width: 1000px) {
    #searchPaper {
      width: calc(95vw - 3.5em);
    }
}

.attributeChipsOfSearchbar{
  margin: 2.5px 2.5px 2.5px 2.5px !important;
  padding: 1.5px 1px 1px 1.5px !important;
}

