*{
    margin: 0;
    padding: 0;
}
#textfeld{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#hintergrund{
    height: 100vh;
    background-image: url(../../public/images/leading-er.png);
    background-size: cover;
} 

#titel{
    padding: 10vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: rgb(209, 154, 34);
    font-size: 2.5rem;
}