*{
    margin: 0;
    padding: 0;
}
#textfeld{
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#hintergrund{
    background-image: url(../../public/images/leading-er.png);
    background-size: cover;
} 

#titel{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}