#alignSearchBar{
    margin-top: 15px;
   
    width: calc(100vw - 16px);
}

#searchBarFriends{
    width: 35vw;
    min-width: 225px;
    max-width: 95vw;
}

#searchForFriendBtn{
    height: 3.7em;
    margin-left: 10px;
    width: 10vw;
    min-width: 70px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
    #searchBarFriends {
      width: 66vw;
      min-width: 150px;
    }
  }